$media: (0 575px 100%, 576px 767px 540px, 768px 991px 720px, 992px 1199px 960px, 1200px 1400px 1140px);
$nav-height: 90px;
$primary-color: #ddd0c8;
$white-color: white;
$black-color: black;
$gray-color: #9b8484;
$footer-color: #323232;