@use "../../../scss/index" as *;

.modal {
    position: fixed;
    z-index: 6;
    inset: 0;
    background-color: $primary-color;
    .wrapper {
        width: 380px;
        height: 420px;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        box-shadow: 0 0 20px 5px $gray-color;
        backdrop-filter: blur(10px);
        @include flex(space-evenly, center, column);
        .title {
            font-size: 2rem;
        }
        .formField {
            height: 50px;
            width: 300px;
            input {
                width: 100%;
                padding: 16px;
                background-color: $white-color;
                border-radius: 3px;
                border: 1px solid $gray-color;
                outline-color: #5b2b6e;
            }
            .err {
                display: block;
                color: red;
                font-size: 1.4rem;
                margin: 4px;
                height: 20px;
                text-align: center;
            }
        }
        .des{
            width: 90%;
            p{ 
                font-size: 1.4rem;
                text-align: center;
            }
        }
        .sendCode{
            font-size: 1.4rem;
            color: $black-color;
            width: 130px;
            height: 26px;
            margin: -20px 0 30px;
            border: 1px solid rgb(85, 68, 68);
            border-radius: 10px;
            outline: none;
            cursor: pointer;
        }
        .info{
            height: 3rem;
            margin-top: -12px;
            p{
                color: rgb(71, 8, 8);
                font-size: 1.4rem;
            }
        }
        .verify {
            margin-top: -20px;
            width: 200px;
            span {
                font-size: 2rem;
            }
        }
    }
}
.close{
    position: fixed;
    z-index: 6;
    cursor: pointer;
    right: 40px;
    top: 40px;
    .icon{
        color: $black-color;
        font-size: 3rem;
    }
}
 